.navbar {
  display: block;
  position: relative;
}
.nav-logo {
  display: none;
}
.nav-branch {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  list-style: none;
  font-size: 1rem;
  transition: all 1s ease;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px
}

// @media (min-width: 768px){
//   .nav-items{
//     width:100px
//   }
// }

// @media (max-width:576px){
//   .nav-items{
//     width: 20%;
//   }
// }

// @media (max-width:481px){
//   .nav-items{
//     width: 10%;
//   }
// }