.navbar {
  display: block;
  position: relative;
}
.nav-logo {
  display: none;
}
.nav-branch {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  list-style: none;
  font-size: 1rem;
  transition: all 1s ease;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}
