.nav_branch {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  transition: all 1s ease;
}

.nav_items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55px;
  width: 150px;

  .nav_items_img {
    width: 30px;
    height: 30px
  }
}

@media (max-width:576px){
  .nav_items_text {
    display: none;
  }
  .nav_items{
    width: 80px;
  }
}
