@import "@/configs/share.scss";
.notificationPage {
  @include  fixed-block;
  border: 1.5px var(--border-color) solid;
  border-radius: 5px;
  width: 220px;
  height: 35px;
  top: 55px;
  right: -250px;
  transition: all 1s ease;
  z-index: 999;
  background-color: var(--background-color);
  font-size: 15px;
  padding: 10px;
}

.route {
  animation: route 1s;
  transform:  translate(-250px);
  backface-visibility: hidden;
}