.asideMenuPage{
  position: fixed;
  background-color: white;
  border: 1px gray solid;
  height: calc(100% - 57px);
  transform: translate(-200px);
  transition: all 0.5s ease;
  z-index: 100;
  height: 100vh;
  top: 57px
}
.asideMenuPage_item {
  margin: 30px;
}

@media (min-width:576px){
  .asideMenuPage {
    display: none;
  }
}