@import "@/configs/share.scss";
.memberPage_container {
  @include flex-properties(center, center);
  flex-direction: column;
  .memberPage_content {
    @include flex-properties(center, center);
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  @media screen and  (max-width:576px){
    .memberPage_content {
      flex-direction: column;
    }
  }

  .memberPage_img_container {
    @include flex-properties(center, center);
    flex-direction: column;
    .memberPage_Img {
      @include relative-block;
      border: 1px solid var( --primary-memberPage-border);
      border-radius: 2.5px;
      width: 225px;
      height: 225px;
      margin: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .memberPage_Upload {
      @include relative-block;
      text-align: center;
    }
    .memberPage_img_container_group {
      flex-direction: row;
      @include flex-properties(center, center);
      margin-bottom: 10px;
    }
    .memberPage_img_container_button {
      @include flex-properties(center, center);
      border-radius: 2.5px;
      padding: 5px;
      width: 210px;
      background-color: var(--botton-color);
      border: 2px solid var(--border-color);
      color: var( --bottom-text-color)
    }
  }

  .memberPageCoupon_container {
    @include relative-block;
    margin-left: 25px;
    margin-right: 25px;
    .memberPageCoupon_container_img {
      animation: pop 0.5s cubic-bezier(0.45, 0.05, 0.75, 0.75) both;
      @include  absolute-block;
      top: -20px;
      left: -20px;
      width: 25px;
      height: 25px;
    }
    @keyframes pop {
      0% {
        transform: translateX(-20px) translateY(-10px);
      }
      100% {
        transform: translateX(0px) translateY(px);
      }
    }
    .memberPageCoupon_Item {
      @include relative-block;
      @include flex-properties(space-between, center);
      border: 1px solid var(--primary-memberPage-border);
      border-radius: 2.5px;
      margin: 10px;
      padding: 10px;
      width: 200px;
      flex-direction: column;

      .memberPageCoupon_Item_description {
        a {
          margin: 2.5px
        }
      }

      .memberPageCoupon_Item_button {
        @include flex-properties(space-between, center);
        width: 100%;
        a {
          width: 100px;
        }
      }
    }


  }
  @media screen and (min-width:1441px){
    .memberPageCoupon_container {
      width: 768px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 120px;
    }
  }
  @media screen and (max-width:1440px){
    .memberPageCoupon_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 120px;
    }
  }
  @media screen and  (max-width:1024px){
    .memberPageCoupon_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 120px;
    }
  }
  @media screen and  (max-width:768px){
    .memberPageCoupon_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 120px;
    }
  }
  @media screen and  (max-width:576px){
    .memberPageCoupon_container {
      @include flex-properties(center, center);
      flex-direction: column
    }
  }

  .memberPage_Item {
    @include flex-properties(center, center);
    flex-direction: column;

    .memberPage_Item_container {
      @include flex-properties(center, center);
      flex-direction: column;
    }
    .memberPage_Item_content {
      display: grid;
      grid-template-columns: 0.25fr 1fr;
      margin: 5px;
    }
    .memberPage_Item_label {
      @include flex-properties(center, center);
      font-size: 1.25rem;
    }
    @media screen and (max-width:576px){
      .memberPage_Item_label {
        margin: 2.5px
      }
      .memberPage_Item_content {
        @include relative-block;
        @include flex-properties(center, flex-start);
        flex-direction: column;
      }
    }
    .memberPage_Item_input {
      @include flex-properties(start, start);
      flex-direction: column;
      input {
        border: 1px solid var(--border-color);
        height: 3rem;
        width: 200px;
        padding-left: 10px;
      }
      select {
        border: 1px solid var(--border-color);
        height: 3rem;
        width: 215px;
        padding-left: 5px;
      }
    }
    .memberPage_Item_select {
      @include flex-properties(center, center);
      width: 175px;
    }
    .memberPage_Item_button {
      @include flex-properties(center, center);
      background-color: var(--botton-color);
      border: 2px solid var(--border-color);
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 2.5px;
      color: var( --bottom-text-color);
      margin-left: 5px;
    }
    .memberPage_Item_container_group {
      @include flex-properties(center, center);
      flex-direction: row;
    }
    .memberPage_Item_container_select {
      width: 175px;
      height: 2.5rem;
      border-radius: 5px;
      border: 1px solid var(--border-color);
    }
    .memberPage_Item_button_title {
      @include flex-properties(flex-start, center);
      width: 100%;
      text-align: center;
      margin-left: 70px;
      .memberPage_Item_button_title_img {
        width: 15px;
        height: 15px;
        margin: 5px;
      }
      .memberPage_Item_button_title_text {
        @include flex-properties(center, center);
      }
    }
  }
}

////////////////// handPassWord
.memberPage_handPassWord_container {
  @include flex-properties(center, center);
  flex-direction: column;

  .memberPage_handPassWord_content {
    @include flex-properties(center, flex-start);
    margin-top: 15px;
    text-align: end;
  }
  .memberPage_handPassWord_label {
    padding-right: 20px;
    margin-top: 10px;
    width: 125px;
  }
  .memberPage_handPassWord_input {
    display: flex;
    flex-direction: column;
    text-align: start;

    input {
      width: 200px;
      height: 3rem;
      border: 1px solid var(--border-color);
    }
  }
  .memberPage_handPassWord_button {
    @include flex-properties(center, center);
    margin-top: 50px;
    width: 100px;
    background-color: var(--botton-color);
    padding: 7.5px;
    border-radius: 2.5px;
    border: 1px solid var(--border-color);
    color: var( --bottom-text-color)
  }
}

///////////////////////////////////////////    memberPageSetting
.memberPage_setting_content {
  @include relative-block;
  width: calc(100% - 100px);
  margin-bottom: 150px;
  .memberPage_setting_content_button {
    margin: 0 30px;
    color: var( --bottom-text-color);
    button {
      width: 100%;
      background-color: var(--botton-color);
      border: 1px solid var(--border-color);
      padding: 10px;
      border-radius: 2.5px;
    }
    img {
      width: 15px;
      height: 15px;
      padding: 0px 10px;
    }
  }
}
@media screen and (min-width:1441px){
  .memberPage_setting_content {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
  }
}
@media screen and (max-width:1440px){
  .memberPage_setting_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
  }
}
@media screen and  (max-width:1024px){
  .memberPage_setting_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
  }
}
@media screen and  (max-width:768px){
  .memberPage_setting_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 60px;
  }
}
@media screen and  (max-width:576px){
  .memberPage_setting_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 60px;
  }
}

////////// memberPage_setting
.memberPage_setting_container {
  @include flex-properties(center, center);
  flex-direction: column;

  .memberPage_setting_label {
    font-size: 1.25rem;
    margin: 10px
  }
  .memberPage_setting_input {
    @include flex-properties(start, start);
    flex-direction: column;
    input {
      border: 1px solid var(--border-color);
      height: 3rem;
      width: 245px;
      padding-left: 10px;
    }
    select {
      border: 1px solid var(--border-color);
      height: 3rem;
      width: 255px;
      padding-left: 5px;
    }
  }
  .memberPage_setting_button {
    @include flex-properties(center, center);
    border: 1px solid var(--border-color);
    background-color: var(--botton-color);
    margin-top: 50px;
    height: 3rem;
    width: 210px;
    button {
      width: 100%;
    }
  }
}

////////// memberPage_language
.memberPage_language {
  .memberPage_language_label {
    font-size: 1.25rem;
    width: 40px;
  }
  .memberPage_language_input {
    width: 100%;
    @include flex-properties(center, center);
    select {
      width: calc(100% - 40px);
      background-color: var(--botton-color);
      border: 1px solid var(--border-color);
      padding: 10px;
      border-radius: 2.5px;
    }
  }
}

.memberPage_input_errorText {
  color: var(--error-color)
}