@import "@/configs/share.scss";
.container {
  @include flex-properties(space-between, center);
  flex-direction: column;
  min-height: 80vh;
  .content {
    @include relative-block;
    width: 100%;
    margin-top: 10px;
    .view {
      @include relative-block;
    }
  }
}

.head {
  @include  fixed-block;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(100% - 45px);
  text-decoration: none;
  background-color: var(--header-background-color);
  border-radius: 10px;
  border: 1px var( --border-color) solid;
  padding: 0px 20px;
  z-index: 5;
}

.asideMenuPageTransform {
  transform: translate(0px);
  backface-visibility: hidden;
  perspective: 1000px;
}

.footer {
  @include relative-block;
  border: 1px black solid;
}

@media (min-width:576px){
  .buger{
    display: none;
  }
  .asideMenuPage {
    display: none;
  }
}


@media(min-width:1441px){
  .container{
    width: 1024px;
  }
}
@media (max-width:1440px){
  .container{
    width: 1024px;
  }
}
@media  (max-width:1024px){
  .container{
    width: 768px;
  }
}
@media (max-width:769px){
  .container{
    width: 576px;
  }
}
@media (max-width:576px){
  .container{
    width: 100%
  }
}


