@import "@/configs/share.scss";
.cartPage {
  @include flex-properties(center,center);
  flex: 1;
  flex-direction: column;
  margin-bottom: 75px;
  .cartPage_container{
    flex-direction: row;
    flex: 1;
    margin-bottom: 30px;
    padding: 15px 5px;
  }
}

.cartPage_Item {
  @include flex-properties(flex-start,center);
  @include relative-block;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  text-align: center;

  .cartPage_Item_contaner {
    @include flex-properties(flex-start,center);
    width: calc(100% - 5px );
    height: 70px;
    border: 1px var(--border-color) solid;
    border-radius: 2.5px;
  }

  .cartPage_Item_li {
    @include flex-properties(center,center);
    @include relative-block;
    margin: 10px 15px;
  }
  .cartPage_Item_content {
    @include relative-block;
    width: 100%;
  }
  .cartPage_Item_text {
    margin: 5px 10px
  }
  .cartPage_Item_describe {
    @include flex-properties(space-between,center);
  }
  .cartPage_Item_store {
    @include flex-properties(center,center);
  }
  .cartPage_Item_img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
  }
  .cartPage_Item_icon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border: 1px var(--border-color) solid;
  }
  .cartPage_Item_Data {
    width: 25px;
    border: 1px var(--border-color) solid;
  }
}

.cartPage_subInfo {
  flex: 1;
  border-radius: 5px;
  margin: 5px;
  .cartPage_subInfo_container {
    @include flex-properties(center,center);
    margin: 20px;
  }

  .cartPage_subInfo_label {
    margin: 20px;
    width: 50px;
    a{
      font-size: 1.5rem;
    }
  }
  .cartPage_subInfo_input {
    height: 3.5rem;
    width: 80%;
    font-size: 1.5rem;
    border: 1px var(--border-color) solid;
    border-radius: 2.5px;
  }
  .cartPage_subInfo_select {
    height: 3.5rem;
    width: 80%;
    font-size: 1.25rem;
    border-radius: 2.5px;
  }
  .cartPage_subInfo_checkbox {
    @include flex-properties(center,center);
    width: 100%;
    margin: 5px;
  }
}

.cartPage_total {
  @include relative-block;
  margin: 10px;
  .cartPage_total_title {
    margin: 10px;
    font-size: 1.25rem;
    color: var(--cartPageItem-text);
  }

  .cartPage_total_group {
    margin: 10px;
    a {
      font-size: 1.25rem
    }
  }
}
.cartPage_checkOut_button {
  @include flex-properties(center,center);
  background-color: var(--botton-color);
  border: 1px var(--border-color) solid;
  margin: 10px 40px;
  padding: 10px 0px;
  border-radius: 2.5px;
  a {
    font-size: 1.5rem
  }
}

@media (min-width:786px){
  .cartPage_content {
    width: 788px;
  }
}
@media (max-width:786px){
  .cartPage_content {
    width: 100%;
  }
}

.cartPageCoupon {
  border-radius: 5px;
  margin: 5px;
}

.cartPage_coupon_item {
  display: flex;
  padding: 10px;
  .cartPage_coupon_item_text {
    color: var(--cartPageItem-coupon-text);
    font-size: 0.8rem;
    margin-left: 15px;
  }
  a {
    font-size: 1.25rem;
  }
}

.cartPage_total_groud {
  padding: 10px;
}

