@import "@/configs/share.scss";
.cartPage {
  @include flex-properties(center,center);
  @include relative-block;
  flex-direction: column;

  .cartPage_container{
    flex-direction: row;
    flex: 1;
    margin-bottom: 30px;
    padding: 15px 5px;
  }
}

.cartPage_Item {
  @include flex-properties(flex-start,center);
  @include relative-block;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  text-align: center;

  // animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  .cartPage_Item_contaner {
    width:100%;
    height: 65px;
    border: 1px gray solid;
    border-radius: 2.5px;
    @include flex-properties(flex-start,center);
  }
  .cartPage_Item_title {
    margin: 10px;
  }
  .cartPage_Item_ul {
    height: 450px;
    margin-bottom: 10px;
    overflow-y: scroll; 
    overflow-x: hidden;
  }
  .cartPage_Item_li {
    @include flex-properties(center,center);
    @include relative-block;
    margin: 5px 15px;
    background-color: var( --primary-cartPageItem-background-color);
  }
  .cartPage_Item_content {
    @include relative-block;
    width:100%;
    border-radius: 5px;
  }
  .cartPage_Item_text {
    margin: 3px 0px
  }
  .cartPage_Item_describe {
    @include flex-properties(space-between,center);
  }
  .cartPage_Item_store {
    @include flex-properties(center,center);
  }
  .cartPage_Item_icon {
    width: 20px;
    height: 20px;
    border: 1px gray solid;
    margin: 1px;
  }
  .cartPage_Item_img {
    width: 50px;
    height: 50px;
    margin:  0px 10px;
  }
  .cartPage_Item_Data {
    width: 25px;
    text-align: center;
  }
  .cartPage_Item_pagination {
    margin: 5px 15px;
  }
}

.cartPage_subInfo {
  flex: 1;
  border-radius: 5px;
  margin: 5px;
  .cartPage_subInfo_container {
    @include flex-properties(center,center);
    margin: 20px;
  }

  .cartPage_subInfo_title {
    margin: 10px;
  }
  .cartPage_subInfo_label {
    margin: 10px 20px;
    width: 50px;
  }
  .cartPage_subInfo_input {
    height: 3rem;
    width: 80%;
    font-size: 1.25rem;
  }
  .cartPage_subInfo_select {
    height: 3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    font-size: 1.25rem;
  }
  .cartPage_subInfo_button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .5rem 1rem;
    border: 1px gray solid;
    border-radius: 5px;
  }
  .cartPage_subInfo_checkbox {
    @include flex-properties(center,center);
    width: 100%;
    margin: 5px;
  }
}

.cartPage_total {
  @include flex-properties(space-between,center);
  border-radius: 5px;
  margin: 10px 5px 5px 5px;
  .cartPage_total_titel {
    margin: 10px;
  }

  .cartPage_total_group {
    margin: 10px 2px;
  }
}
.cartPage_CheckOut_button {
  @include flex-properties(center,center);
  background-color: var(--botton-color);
  border: 1px var(--border-color) solid;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 2.5px;
}

@media (max-width:576px){
  .cartPage_total {
    margin: 5px;
  }
}


@media (max-width:786px){
  .cartPageCoupon_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width:786px){
  .cartPageCoupon_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.cartPageCoupon {
  border-radius: 5px;
  margin: 5px;
}
.cartPage_coupon_item {
  display: flex;
  padding: 10px;
}

.cartPage_total_groud {
  @include flex-properties(space-between,center);
  width: '100%';
  padding: 10px;
}

