.chartPage {
  display: flex;
  border: 1px gray solid;
}

@media (max-width:576px){
  .chartPage {
    display: block;
  }
}

.chartPage_Item {
  display: block;
  flex: 5;
  position: relative;
  border: 1px gray solid;
  .chartPage_Item_content {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chartPage_Item_store {
    display: flex;
  }
  .chartPage_Item_img {
    width: 15px;
    height: 15px;
    margin: 10px
  }
  .chartPage_Item_text {
    margin: 10px
  }
}

.chartPage_subInfo {
  display: flex;
  flex: 5;
  flex-direction: column;
  border: 1px gray solid;
  .chartPage_subInfo_contaner {
    display: flex;
    margin: 10px 20px;
  }
  .chartPage_subInfo_title {
    flex: 3;
  }
  .chartPage_subInfo_content {
    flex: 7;
  }
}
