@import "@/configs/share.scss";

.loginPage {
  @include flex-properties(center, center);
  flex-direction: column;
  height: 80vh;
  .logPage_themeIcon {
    margin: 20px;
  }

  .loginPage_content {
    @include flex-properties(center, flex-start);
    transition: all 0.3s ease-in;
    flex-direction: column;
    margin-bottom: 20px;
    img{
      width: 1.25rem;
      height: 1.25rem;
      margin: 0rem 0.3rem;
    }
  }

  .loginPage_text {
    margin-right: 10px;
    margin-top: 4px;
    font-size: 1.5rem;
  }

  .loginPage_input_group {
    margin-top: 20px;
    @include flex-properties(center, center);
  }

  .loginPage_input {
    @include flex-properties(center, center);
    height: 3rem;
    font-size: 1.5rem;
    width: 300px;
    border: none
  }

  .loginPage_accout_img {
    animation: pop 2.5s cubic-bezier(0.1, 0.000, 0.8, 0.5) both infinite;
    img {
      width: 25px;
      height: 25px;
    }
  }

  @keyframes pop {
    0% {
      transform: translateX(-7px) translateY(0px);
    }
    50% {
      transform: translateX(0px) translateY(0px);
    }
    100% {
      transform: translateX(-7px) translateY(0px);
    }
  }

  .loginPage_button_group {
    @include flex-properties(center, flex-start);
    margin-bottom: 20px;
  }

  .loginPage_button {
    @include relative-block;
    transition: all 0.1s ease;
  }

  .loginPage_button:hover {
    border: 1px var(--active-border-color) solid;
  }

  .loginPage_createMember_button {
    @include flex-properties(center, center);
    width: 150px;
    height: 45px;
    transition: all 0.1s ease;
    background-color: var(--active-botton-color);
    border: 1px var(--active-border-color) solid;
    border-radius: 2.5px;
    margin: 1rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
    a {
      font-size: 1.5rem
    }
  }
}

.createMember {
  @include flex-properties(center, center);
  flex-direction: column;
  margin-top: 20px;

  .createMember_container {
    @include flex-properties(end, flex-start);
    height: 6rem;
    margin-right: 50px;

    .createMember_container_inputgroup {
      @include flex-properties(flex-start, flex-start);
      flex-direction: column;

    }

    input {
      width: 235px;
      height: 3rem;
      border: 1px var(--border-color) solid;
      padding-left: 10px;
    }
    select {
      width: 250px;
      height: 3.5rem;
      border: 1px var(--border-color) solid;
      padding-left: 10px;
    }

    .createMember_text {
      width: 10rem;
      text-align: end;
      white-space: word-wrap;
      padding-right: 1rem;
      margin-top: 0.5rem;
      font-size: 1.25rem
    }
  }

  .createMember_errorMessage {
    @include relative-block;
    font-size: 0.8rem;
    margin-top: 8px;
    color: var(--error-color);
  }

  .createMember_button {
    @include flex-properties(center,center);
    background-color: var(--botton-color);
    border: 1px var(--border-color) solid;
    padding: 10px 0px;
    width: 235px;
    border-radius: 2.5px;
    margin-right: -55px;
    a {
      font-size: 1.25rem
    }
  }

  .createMember_button:hover {
    background-color: var(--active-botton-color);
    border: 1px var(--active-border-color) solid;
  }
}

