@use "sass:math";

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;

  .loginPage_content {
    display: flex;
    height: 50px;
  }

  .loginPage_text {
    width: 75px;
  }

  .loginPage_input {
    width: 150px;
  }

  .loginPage_button_group {
  }

  .loginPage_button {
    position: relative;
    display: block;
    transition: all 0.1s ease;
    background-color: var(--bottom-color);
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
  }

  .loginButton {
    animation: loginButton 0.1s;
    transform: translate(100px);
    backface-visibility: hidden;
  }

}


