.prodcutPage_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prodcutPage_category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;


  .prodcutPage_category_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
    height: 2rem;
    width: 150px;
  }
  .prodcutPage_category_item{
    margin: 5px 10px;
  }
  img {
    width: 20px;
    height: 20px;
  }
  input {
    width: 100%;
  }
}

.prodcutPage_pagination {
  margin: 0px 20px;
}


//////////////////////////////////////////////////////////////
.prodcutPage_Item{
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  border: 1px gray solid;

  .prodcutPage_Item_noData {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.prodcutPage_coupon_content {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 5px;
  background-color: var(--primary-background-color);
  height: calc(100% - 5px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 20px;

  .prodcutPage_coupon_container {
    position: relative;
    width: 100%;
    height: 100px;
    transition: all 0.75s linear;
    transition-timing-function: cubic-bezier(.15,.5,.5,.5);
  }

  .prodcutPage_coupon_container:hover {
    height: 150px;
  }

  .prodcutPage_coupon_info {
    position: relative;
    display: flex;
    z-index: 2;
  }

  .prodcutPage_coupon_waves {
    position: absolute;
    width: 1000px;
    height:  1000px;
    top: -35px;
    left: -120%;
  }

  .waves_one {
    background: linear-gradient(60deg, rgb(255, 255, 255) 0%,rgb(219, 219, 219)) 100%;
    transition-timing-function: cubic-bezier(.15,.5,.5,.5);
    animation: rotate 7500ms infinite linear;
    border-radius: 45%;
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  .prodcutPage_coupon_img {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%
    }
  }

  .prodcutPage_coupon_describe {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .prodcutPage_coupon_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 5px 5px;
  }

  .prodcutPage_coupon_button {
    padding: 5px;
    width: 75px;
    background-color: var(--bottom-color);
    border-radius: 5px;
  }
}

@media screen and (min-width:1441px){
  .prodcutPage_Item {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-auto-rows: 300px;
  }
}

@media screen and (max-width:1440px){
  .prodcutPage_Item {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-auto-rows: 300px;
  }
}
@media screen and  (max-width:1024px){
  .prodcutPage_Item {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: 300px;
  }
}

@media screen and  (max-width:769px){
  .prodcutPage_Item {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-auto-rows: 300px;
  }
}

@media screen and  (max-width:432px){
  .prodcutPage_Item {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    grid-auto-rows: 300px;
  }
}


//////////////////////////////////////////////////////////////
.accordion_content {
  position: relative;
  display: flex;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  justify-content: space-between;
  align-items: center;

  .accordion_content_info {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: calc(100% - 100px);
  }

  .accordion_content_button {
    margin: 5px;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
  }
}

.prodcutPage_coupon_container:hover > .accordion_content {
  visibility: visible;
  opacity: 1;
}

.prodcutPage_Detail {
  display: flex;
  justify-content:center ;

  .prodcutPage_Detail_img {
    border: 1px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }

  .prodcutPage_Detail_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
  }

  .prodcutPage_Detail_Content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
  }
  .prodcutPage_Detail_count {
    width: 30px;
    text-align: center;
  }

  .prodcutPage_Detail_buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .prodcutPage_Detail_button {
    border: 1px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .prodcutPage_Detail_buttonImg {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .prodcutPage_Detail_Text {
    display: flex;
    width: 80%;
    a {
      margin: 2px;
    }
  }
}
@media screen and  (max-width:769px){
  .prodcutPage_Detail {
    flex-direction: column;
    justify-content: centser;
    align-items: center;
    .prodcutPage_Detail_Content {
      display: flex;
      width: 300px;
      flex-direction: row;
      justify-content: space-between;
    }
    .prodcutPage_Detail_Container {
      padding-left: 0px;
    }
  }
}



