:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color:#2f312e;
  --primary-color:#b3b3b3;
  --title-color:#d08c60;
  --bottom-color:#b4b4b4;
  --bottom-text-color:#2d2d2d;
  --background-color:#fbfbfb;

  --border-color:#2a2a2a;
  --primary-border-color:#f7f7f7;
  --active-border-color:#ffffff;


  --botton-color:#f0f0f0;
  --active-botton-color: #f9f9f9;
  --botton-text-color:#fafafa;

  --background-color:#fbfbfb;
  --header-background-color: #d0d0d0;

  --primary-chartPage-background-color:#fbfbfb;


  --primary-prodcutPageItem-background-color:#ffffff;
  --primary-prodcutPageCoupon-background-color:#d8d8d8;
  --primary-prodcutPageInfo-background-color:#f3f3f3;
  --prodcutPage-border-color:#1a1a1a;
  --primary-prodcutPage-select:#f1f1f1;

  --primary-memberPage-border:#1c1c1c;


  --error-color:#da4040;
  --box-shadow: #9e9e9e;

}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text-color)
}
a:visited {
    color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

ol {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

input {
  border: 0px;
  border-bottom: 1px #2f312e  solid;
  background-color: transparent;
}
input:focus {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0px ;
}

select {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

@media (min-width:576px){
  .app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
