:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color:#2f312e;
  --border-color:#757a75;
  --primary-color:#62635c;
  --title-color:#d08c60;
  --bottom-color:#f8f9fa;
  --background-color:#ffbd91;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text-color)
}
a:visited {
    color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* @media(min-width:1440px){
  .container{
    width: 1440px;
  }
}
@media (max-width:1441px){
  .container{
    width: 1024px;
  }
}
@media  (max-width:1025px){
  .container{
    width: 768px;
  }
}
@media (max-width:769px){
  .container{
    width: 576px;
  }
}
@media (max-width:577px){
  .container{
    width: 480px;
  }
}
@media (max-width:481px){
  .container{
    width: 320px;
  }
}
@media (max-width:321px){
  .container{
    width: 240px;
  }
} */