.homePage_carousel_container {
  display: block;
  overflow: hidden;
  transition: all 1s ease;
  position: relative;
  height: 300px;
  width: 100%;
}

.homePage_carousel_itemContainer {
  position: absolute;
  display: block;
  border: 1px gray solid;
  width: 100%;
  transition: all 1s ease;
  height: 100%;
}

.slide-enter-from {
  transform: translateX(-100%);
}

.slide-leave-to {
  transform: translateX(100%);
}

.homePage_main{
  display: block;
  position: relative;
  text-align: center;
}

.homePage_main_prouduct {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin: 25px;
}

.homePage_main_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TitleDot {
  width: 5px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 25px;
}


.homePage_main_prouduct_describe {
  display: block;
  .homePage_main_prouduct_describe_category {
    display: flex;
    margin-bottom: 15px;
    div {
      border-right: 1px gray solid;
      padding-left: 20px;
      padding-right: 20px;
    }
    div:last-child {
      border-right: 0px gray solid;
    }
  }
  .homePage_main_prouduct_describe_container {
    display: flex;
    border: 1px gray solid;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .homePage_main_prouduct_describe_container_item {
    border: 1px gray solid;
    height: 40%;
    width: 40%;
    margin: 2.5%;
    > div {
      height: 70%;
      width: 100%;
      margin: 0;
      border: 1px gray solid;
    }
  }
}



.homePage_main_prouduct_item {
  display: block;
  padding: 10px;
  margin: 20px;
  div {
    border: 1px gray solid;
    height: 100%;
  }
}