@import "@/configs/share.scss";
.titleContainer {
  @include flex-properties(center, center);
  width: calc(100% - 30px);
  margin: 10px;
  padding: 10px 0px;
  background-color: var(--title-color);
  border-radius: 2px;
  .titleText {
    font-size: 1.75rem;
  }
}

.TitleDot {
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  display: block;
  margin: 0px 20px 0px 20px;
}